.GenerateProject-projectCode {
    margin: 10px;
}

.GenerateProject-wrapper {
    overflow-y: scroll;
    position: absolute;
    top: 238px;
    bottom: 54px;
    width: 85%;
    margin-top: 0px;
    padding-top: 24px;
    padding-right: 12px;
    box-sizing: border-box;
}

.GenerateProject-input {
    width: 600px !important;
}